* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

#myImage {
  background-image: url("./images/MyImage/DSC_7480.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#jdk23Image {
  background-image: url("./images/JDK23/rc24-java23.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#environmentImage {
  background-image: url("./images/muliple_angular_environments/environment.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#RemoteJobsImage {
  background-image: url("./images/RemoteJobs/RemoteJobs.webp");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#openAIImage {
  background-image: url("./images/open_ai/ai_image.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#MissingImage {
  background-image: url("./images/MissingImages/MissingImagesDefaultPlaceholder.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#AWSToGCP {
  background-image: url("./images/AWS-To-GCP/figure-2-Single-AWS-DataSync-agent-architecture.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#POWERBI_IMAGE {
  background-image: url("./images/PowerBI/power_bi.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#JOB_SEARCH_IMAGE {
  background-image: url("./images/job_search/JobSearch.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#OKTA_fullstack_image {
  background-image: url("./images/Angular/okta.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#matplotlibImage {
  background-image: url("./images/python/Combining-Bar-and-Line-Charts1.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#d3jslibImage {
  background-image: url("./images/D3JS/d3js.svg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#chartjsLibImage {
  background-image: url("./images/chartJS/chartJSSample.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#htmlToPDFImg {
  background-image: url("./images/PDF/html_to_pdf.webp");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#CrossSideScript_Img {
  background-image: url("./images/Security/CSS.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#CORS_Img {
  background-image: url("./images/Security/CSS.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#DosImg {
  background-image: url("./images/Security/DDOS.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#OpenIDImg {
  background-image: url("./images/Security/open_id.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#oauthImg {
  background-image: url("./images/Security/oauth-2-sm.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#JWTImg {
  background-image: url("./images/Security/jwt_image.svg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#httpBasicImg {
  background-image: url("./images/Security/SSL.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#DosImg {
  background-image: url("./images/Security/DDOS.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssBootstrapImg {
  background-image: url("./images/CSS/Bootstrap_logo.svg.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssGridImg {
  background-image: url("./images/CSS/CSS-GRID-3.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssFlexBoxImg {
  background-image: url("./images/CSS/CSS-FLEX-Box.webp");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssMediaQueriesImg {
  background-image: url("./images/CSS/CSS-Media-Queries.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssResponsiveImg {
  background-image: url("./images/CSS/Responsive.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssFloatImg {
  background-image: url("./images/CSS/css-float.webp");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssDisplayImg {
  background-image: url("./images/CSS/CSS-Display.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssPositionImg {
  background-image: url("./images/CSS/css-position.webp");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssCombinatorsImg {
  background-image: url("./images/CSS/CSS-COMBINATOR.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssCascadeImg {
  background-image: url("./images/CSS/cascade-order.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssPropertiesImg {
  background-image: url("./images/CSS/CSS-Properties.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#cssgoodlinksImg {
  background-image: url("./images/CSS/Canva_Logo.svg.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#javaScriptInterLinksImg {
  background-image: url("./images/JavaScript/learn-intermediate-javascript.webp");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#javaScriptLinksImg {
  background-image: url("./images/JavaScript/JavaScript-Introduction.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#javaScriptDOMLinksImg {
  background-image: url("./images/JavaScript/JavaScript-DOM.svg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#linuxLinksImg {
  background-image: url("./images/Linux/Tux.svg.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#nodeJSLinksImg {
  background-image: url("./images/NodeJS/Node.js_logo.svg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#jqueryLinksImg {
  background-image: url("./images/JQuery/jquery.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}
